[submodule "jiuwenswarm"]
	path = jiuwenswarm
	url = https://github.com/openJiuwen-ai/jiuwenswarm.git
[submodule "agent-core"]
	path = agent-core
	url = https://github.com/openJiuwen-ai/agent-core.git
[submodule "agent-studio"]
	path = agent-studio
	url = https://github.com/openJiuwen-ai/agent-studio.git
[submodule "deepsearch"]
	path = deepsearch
	url = https://github.com/openJiuwen-ai/deepsearch.git
[submodule "agent-runtime"]
	path = agent-runtime
	url = https://github.com/openJiuwen-ai/agent-runtime.git
[submodule "jiuwensymbiosis"]
	path = jiuwensymbiosis
	url = https://github.com/openJiuwen-ai/jiuwensymbiosis.git
[submodule "agent-memory"]
	path = agent-memory
	url = https://github.com/openJiuwen-ai/agent-memory.git
[submodule "skillhub"]
	path = skillhub
	url = https://github.com/openJiuwen-ai/skillhub.git
[submodule "agent-tools"]
	path = agent-tools
	url = https://github.com/openJiuwen-ai/agent-tools.git
[submodule "agent-protocol"]
	path = agent-protocol
	url = https://github.com/openJiuwen-ai/agent-protocol.git
[submodule "relay"]
	path = relay
	url = https://github.com/openJiuwen-ai/relay.git
